@font-face {
  font-family: 'SeasideResortNF';
  src:
    url('./fonts/SeasideResortNF.woff2') format('woff2'),
    url('./fonts/SeasideResortNF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src:
    url('./fonts/Rubik-Regular.woff2') format('woff2'),
    url('./fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src:
    url('./fonts/Rubik-Bold.woff2') format('woff2'),
    url('./fonts/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --ff-logo: 'SeasideResortNF';
  --ff-text: 'Rubik';

  --clr-primary: #67432f;
  --clr-light: #e5e7eb;
  --clr-white: #fff;
  --clr-secondary: #325ad7;
  --clr-err: #c73f44;

  --shadow-sm: 2px 6px 6px var(--clr-light);
}

body {
  font-family: var(--ff-text);
}

.app {
  display: flex;
}

.signup-bg {
  flex: 0 0 40%;
  height: 100vh;
  background: var(--clr-primary) url('./images/bg.jpg') center / cover no-repeat;
  display: flex;
  flex-direction: column;
}

.signup-logo {
  font-family: var(--ff-logo);
  color: var(--clr-light);
  font-size: 3.125rem;
  letter-spacing: 0.2em;
  background-color: rgb(0 0 0 / 0.6);
  padding-block: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.signup-logo::before {
  content: '';
  left: 0;
  background: url('./images/odin-logo.png') center / contain no-repeat;
  width: 120px;
  aspect-ratio: 1 / 1;
}

.signup-bg-caption {
  margin-top: auto;
  text-align: center;
  color: var(--clr-white);
  font-size: 0.8rem;

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }
}

/* Signup form */
.signup-form {
  background-color: #f9fafb;
  flex: 1;
}

.form-container,
.signup-form-text {
  padding-inline: 40px;
}

.signup-form-text {
  padding-top: 150px;
  padding-bottom: 30px;

  max-width: 75%;

  p {
    font-size: 1.5rem;
  }
}

.form-title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.form-inputs {
  background-color: var(--clr-white);
  padding-block: 20px;
  margin-bottom: 20px;
  box-shadow: var(--shadow-sm);
}

.form-row {
  display: flex;
  gap: 70px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
}

.form-input {
  border: none;
  outline: none;

  border: 1px solid var(--clr-light);
  padding: 0.5em;
  font-size: 0.8rem;
  border-radius: 0.3em;
  width: 250px;
}

.form-input:focus {
  border-color: var(--clr-secondary);
  box-shadow: var(--shadow-sm);
}

.form-input[type='password']:invalid {
  border-color: var(--clr-err);
}

.form-btn {
  border: none;
  outline: none;
  width: 200px;
  background-color: var(--clr-primary);
  padding: 0.8em 1.5em;
  cursor: pointer;
  border-radius: 0.4em;
  color: var(--clr-white);
  margin-bottom: 20px;
}

.form-btn:hover {
  background-color: #502d1a;
}

.form-btn:active {
  background-color: #70503e;
}

.form-link {
  color: var(--clr-primary);
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}
